/* .material{
    height: 50px;
}

.material:hover{
    height: 100px;
}

.field.input-ui-change{
    border-style: solid;
    border-color: #eeeeee
}

.field.input-ui-change:hover{
    border-style: solid;
    border-color: #707070;
} */


.input-element-text-area textarea{
  font-size: 22px !important;
  font-weight: 500;
  border: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}


.input-element-text-area textarea:hover{
  border: 1px solid rgba(34,36,38,0.13) !important;
  padding: 3px !important;
  padding-left: 6px !important;
}

.input-element-text-area textarea:focus{
  border: 1px solid rgba(34,36,38,0.30) !important;
  padding: 3px !important;
  padding-left: 6px !important;
}


/* Input Text Area.. */

/* Chrome */
.input-element-text-area textarea::-webkit-input-placeholder {
  /* color: #989898 !important; */
  color: #a6b9cc !important;
  font-size: 22px;
  font-family: Lato;
}

.input-element-text-area textarea:focus::-webkit-input-placeholder {
  color: #75818b !important;
  font-size: 22px;
  font-family: Lato;
}

/* End Chrome */

/* IE 10+ */
.input-element-text-area textarea:-ms-input-placeholder {
  color: #989898 !important;
  font-size: 24px;
  font-weight: 500;
}

.input-element-text-area textarea:focus:-ms-input-placeholder  {
  color: #989898 !important;
  font-size: 24px;
  font-weight: 500;
}

/* ------end IE 10+ ---- */

/* Firefox 19+ */

.input-element-text-area textarea::-moz-placeholder {
  color: #989898 !important;
  font-size: 24px;
  font-weight: 500;
}

.input-element-text-area textarea:focus::-moz-placeholder {
  color: #989898 !important;
  font-size: 24px;
  font-weight: 500;
}

/* end Firefox 19+ */

/* Firefox 4 - 18 */
.input-element-text-area textarea:-moz-placeholder {
  color: #989898 !important;
  font-size: 24px;
  font-weight: 500;
}

.input-element-text-area textarea:focus:-moz-placeholder {
  color: #989898 !important;
  font-size: 24px;
  font-weight: 500;
}
/* end Firefox 4 - 18 */
