/* Created By Nikita Mittal */

/* Task Heading */
.task-list-heading-parent-wrapper{
    height: 44.5px;
    border-style: solid;
    border-width: 0px 0px 0.5px 0px;
    border-color: #eee;
}

.task-list-section-wrapper{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* (yes, no hyphen) Chrome and Opera */
}

.task-list-heading-wrapper{
    display: inline-block;
}

.task-list-section-seperator{
    height: 14.5px;
    background: #f6f8f9;
}


.task-list-heading-container{
    margin-left: 56px;
    padding: 12px;
    padding-top: 13px;
    padding-left: 0;
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    /* padding: 15px; */
    height: inherit;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.task-not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.task-list-heading-container:hover .task-list-heading-drag-icon{
    display: block;
}

.task-list-heading-drag-angle-icon{
    height: 44.5px;
    line-height: 44.5px;
    width: 60px;
    float: left;
}

.task-list-heading-drag-icon{
    color: #a6b9cc;
    font-size: 11px;
    display: none;
    margin-left: 8px;
}

.task-list-heading-arrow-container{
    float: left;
    width: 21px;
    margin-left: 3px;
    margin-right: 9px;
}


.task-list-heading-drag-container{
    width: 25px;
    float: left;
    text-align: center;
    height: inherit;
    color: #a6b9cc;
    font-size: 11px;
    margin-left: 2px;
}

.task-list-heading-drag-cursor{
    cursor: -webkit-grab;
}

.task-list-heading-drag-icon-container{
    /* margin: 0 !important; */
    /* width: 10px !important; */
    display: none;
    line-height: 45.5px;
}


.task-list-heading-drag-icon{
    margin: 0 !important;
    width: 5px !important;
}

.task-list-heading-parent-wrapper:hover .task-list-heading-drag-icon-container{
   display: block;
}

.task-list-heading-icon{
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.task-list-heading-title{
    display: inline-block;
    font-size: larger;
    font-style: inherit;
    font-size: 15px;
    font-weight: 600;
}

.task-list-sub-heading-wrapper{
    float: right;
    font-size: 11px;
    color: #4d4f5c;
    font-weight: bold;
}

.task-list-heading-archive-container{
    display:inline-block;
    text-align: right
}

.task-list-heading-archive-container:hover{
    cursor: pointer;
}

.task-list-heading-add-new-container{
    display:inline-block;
    text-align: right;
    margin-left: 26px;
}

.on-subheading-hover:hover{
    color: #28292f
}

.task-list-heading-add-new-container:hover{
    cursor: pointer;
}

/************************************ END OF HEADING CSS *****************************************/




/* ---------------------------------TASK ITEM -------------------------------------------- */

.task-list-item-wrapper{
    border-bottom: 1px solid #eeeeee;
    height: 41px;
    background: #fff;
}

.task-list-item-wrapper:hover{
    border-bottom: 1px solid #dddddd;
    background-color: #f9f9f9;
}

.task-list-item-wrapper.active{
    background-color: #f1f1f1;
}

.task-list-item-delayed-wrapper{
    height: inherit;
}


.task-item-delayed-block{
    float: left;
    width: 2px;
    height: 39px;
    margin-top: 1px;
    margin-bottom: 1px;
}

/* Side left border.. */
.task-item-delayed-block.delayed{
    border-left: solid 2px #ff1744;
}

/* Side left border.. */
.task-item-delayed-block.completed{
    border-left: solid 2px #1ed0c1;
}

.task-list-item-container{
    width: 100%;
    height: inherit;
    display: inline-block;
}



.task-list-item-container:hover{
    cursor: pointer;
}


.task-list-item-drag-icon-container{
    /* margin: 0 !important; */
    /* width: 10px !important; */
    display: none;
}


.task-list-item-container:hover .task-list-item-drag-icon-container{
   display: block;
}

.task-list-item-side-bar-container{
    width: 56px;
    float: left;
    height: 41px;
    line-height: 41px;
}

.task-list-item-side-line{
    float: left;
    text-align: center;
    width: 21px;
    height: inherit;
    color: #a6b9cc;
    font-size: 11px;
    margin-left: 2px;
    cursor: -webkit-grab;
}


.task-list-item-drag-icon{
    margin: 0 !important;
    width: 5px !important;
}


.task-list-item-side-line-edit{
    display: inline-block;
    width: 5%;
    text-align: center;
    position: relative;
    top: 50%;
    vertical-align: initial;
    transform: perspective(1px) translateY(-50%);
}

.task-list-item-icon{
    float: left;
    /* width: 5%; */
    width: 21px;
    margin-left: 3px;
    margin-right: 9px;
}

.task-list-add-item-icon{
    float: left;
    width: 21px;
    margin-left: 3px;
    margin-right: 9px;
    position: relative;
    top: -1px;
    color: #9e9e9e;
    padding-left: 5px;
}

.task-list-item-icon-team-circular{
    position: relative;
    bottom: 1px;
}

.team-circle-icon-wrapper.task-list-item-icon-team-circular:hover {
    border: 1px solid #cacaca;
}

.task-list-item-container:hover .task-list-item-icon-team-circular{
    background-color: #e3e3e3;
    color: #5f5f5f;
}


.task-list-item-icon-edit{
    display:inline-block;
    width: 5%;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.task-list-item-title{
    display: inline-block;
    width: calc(100% - 418px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 41px;
    line-height: 41px;
}

.task-list-item-new-task-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 41px;
    line-height: 41px;
    padding-right: 10px;
}

.task-list-item-title-item{
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000000;
}

.task-list-item-new-task-container{
    position: relative;
    top: 10px;
}

.task-list-item-new-task{
    margin: 0;
}

.task-list-item-new-task input[type="text"] {
    font-size: 14px;
    color: #000;
}

.task-list-item-title-text-overlow{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.task-list-item-other-container{
    width: 360px;
    float: right;
    line-height: 41px;
    height: 41px;
}

.task-list-item-other-container-edit{
    width: 50%;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.task-list-item-status-duration-container{
    float:left;
    width: 80px;
    height: inherit;
    letter-spacing: 0.5px;
}

.task-list-item-status{
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: left;
    padding-left: 10px;
    color: #9e9e9e;
}

.task-list-item-status-duration{
    padding-left: 3px;
}

.task-list-item-sub-task-attachment-container{
    float:left;
    width: 95px;
    height: inherit;
    font-size: 10px;
    font-weight: 500;
    color: #9e9e9e;
}

.task-list-item-container:hover .task-list-item-sub-task-attachment-container{
    color: #7c7c7c;
}

.task-list-item-tags-container{
    float:left;
    width: 85px;
    text-align: center;
    line-height: 41px;
    height: 41px;
}

.task-list-item-tag-item{
    position: relative;
    top: 10px;
}

.task-list-item-date-container{
    float: left;
    width: 100px;
    padding-right: 10px;
    font-size: 10px;
    font-weight: 500;
    text-align: right;
    text-transform: capitalize;
    color: #9e9e9e;
}

.task-list-item-date-default-container{
    float: left;
    width: 100px;
    padding-right: 10px;
    font-size: 10px;
    font-weight: 500;
    text-align: right;
    text-transform: capitalize;
}

.task-list-item-date-item{
    display: inline;
    margin-left: 2px;
    padding-bottom: 3px;
    letter-spacing: 0.5px;
    color: #9e9e9e;
}

.task-list-item-date-container:hover .task-list-item-date-item{
    text-decoration: underline;
    text-underline-position: under;
}


.task-list-item-sub-task-stats{
    margin-left: 5px;
    display: inline;
}

.task-list-item-attachment-stats{
    margin-left: 2px;
    display: inline;
}

.ReactVirtualized__Grid {
    outline: none;
}


.selected_item{
    background-color: transparent;
    height: 44.5px;
}


.selected_item .task-list-section-seperator{
    display: none;
    visibility: hidden;
}

.task-list-item-add-new-task-container{
    height: inherit;
}

.selected_item .task-list-item-add-new-task-container{
    display: none;
    visibility: hidden;
}
