/* Created By Robins 
    10th April 2018
*/


/* -------------------------------GLOBAL CSS---------------------------- */

.simple-widget-value{
    font-family: Lato;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: normal;
    text-align: left;
}


.simple-widget-title{
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.75;
    letter-spacing: normal;
    text-align: left;
}



/* ------------------------------END GLOBAL CSS-------------------------- */








/* ---------------------------------SMALL DEVICES------------------------- */
/* Small devices */
@media (max-width: 600px) {



}
/* ----------------------------------END OF SMALL DEVICES------------------ */








/* -------------------------------BIG SCREEN ------------------------------ */
/*CSS for big screens.*/
@media(min-width: 1380px) {




}
/* -----------------------------END OF BIG SCREEN--------------------------- */










/* --------------------------------TABLET----------------------------------- */
@media (min-width: 600px) and (max-width: 991px) {




}
/* --------------------------------END OF TABLET----------------------------- */