.tag-element-data-container{
    width: 100%;
    margin-top: 10px;
    border-style: solid;
    height: 40px;
    border-width: 0px 0px 1px 0px;
    border-color: #eeeeee;
}

.tag-element-data-container-without-border{
    width: 100%;
    margin-top: 10px;
    border: none;
    height: 40px;
}

.tag-element-list-container{
    width: 90%;
    display: inline-block;
}

.tag-element-add-button-container{
    float: right;
    border-radius: 32px;
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 25px;
    font-family: Lato;
    color: #707070;
    cursor: pointer;
    text-align: center;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
}

.dropdown.icon{
    display: none;
}

.tag-element-dropdown-border{
    border: none;
}