
.label-icon-container{
    height: 32px;
    border-radius: 32px;
    font-size: 12px;
    color: #707070;
    padding: 1px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 30px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 50px;
    display: inline-block;
    background-color: #f3f3f3;
}

.label-icon-container:hover{
    border-color : #707070;
    border-width: 1px;
    border-style: solid;
}

.label-icon-container:hover .label-icon-cross-button-container{
    display:inline-block;
}

.label-icon-side-icon-container{
    float: left;
    height: 32px;
    line-height: 32px;
    position: relative;
    top: -1px;
    left: -1px;

}

.label-icon-container-with-border{
    height: 32px;
    border-radius: 32px;
    font-size: 12px;
    color: #707070;
    white-space: nowrap;
    overflow: hidden;
    line-height: 30px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 50px;
    display: inline-block;
    border: solid 0.7px #eeeeee;
}

.label-icon-name-container{
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    font-size: 12px;
    margin-right: 10px;
    min-width: 40px;
    color: #4d4f5c;
}

.label-icon-src-name-container{
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    font-size: 10px;
    margin-right: 10px;
    min-width: 40px;
    color: #4d4f5c;
}


.label-icon-cross-button-container{
    display: none;
    color: #707070;
    text-align: center;
    cursor: pointer;
}