/**
Created by Robins Gupta
25th Sept 2018
**/

.task-labels-container{
  float: left;
  width: 100%;
}

.task-detail-label-add-new-cicle{
  position: relative;
  top: 0.4px;
}

.task-detail-select-label-box-container{
  float: left;
  width: 100%;
  display: block;
  margin-top: 9px;
  margin-bottom: 10px;
}

.task-detail-create-label-btn{
  float: left;
  height: 25px;
  border-radius: 5px;
  border: solid 0.7px #eeeeee;
}


.task-detail-select-label-wrapper{
  width: 87.8px;
  padding-left: 5px;
  padding-right: 5px;
}

