.formatting-help-container{
    width: 306px;
    padding-top: 0.833rem;
    padding-bottom: 0.833rem;
    /* height: 400px; */
    /* height: 400px;
    width: 200px;
    padding: 10px; */
    /* overflow: scroll */
}

.formatting-help-all-data-container{
    /* overflow: auto; */
    height: 400px;
}

.formatting-help-text{
    display:inline-block;
    padding-left: 1rem;
}

.formatting-help-close-container{
    float: right;
    padding-right: 1rem;
}

.formatting-help-header-text{
    padding-left: 1rem;
    padding-right: 1rem;
}


.formatting-help-heading-text{
    margin-top: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.formatting-help-data-container{
    color:#eb5a46;
    margin-top: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}


