/**
Created by Robins Gupta
17th Sept 2018..
**/


.cirular-icon-custom-checkbox{
  width: 25px;
  height: 25px;
  line-height: 0;
  text-align: center;
  border-radius: 25px;
  background-color: #f8f7f8;
  border: solid 0.5px #4d4f5c;
  cursor: pointer;
}

.cirular-icon-custom-tag{
  background-color: #3b86ff;
  box-shadow: 0 3px 6px 0 #0000000d;
  width: 14px;
  height: 14px;
  margin: 0;
  border-radius: 8px;
  position: relative;
  left: 15px;
  bottom: 6px;
  line-height: 10px;
}
