.select-label-container {
  float: left;
  cursor: pointer;
}

.select-label-add-container {
  width: 25px;
  float: left;
  height: 25px;
  background-color: #a6b9cc;
  border-radius: 0px 5px 5px 0;
  text-align: center;
  /* padding: 3px; */
  font-size: 10px;
  color: white;
  line-height: 26px;
}

.select-label-content-container {
  width: 87.8px;
  padding-left: 5px;
  padding-right: 5px;
  border-top: 0.7px solid #eee;
  border-bottom: 0.7px solid #eee;
  border-left: 0.7px solid #eee;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 25px;
  line-height: 23px;
  /* display: inline-block; */
  float: left;
  text-transform: capitalize;
  text-align: center;
  /* padding: 3px 10px 3px 8px; */
  font-size: 10px;
  font-weight: normal;
  color: #4d4f5c;
  /* font-family: Lato; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
