/* Created By Robins Gupta */

.team-circle-icon-wrapper{
    background-color: #f3f3f3;
    border-radius: 32px;
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    font-family: Lato;
    color: #707070;
    cursor: pointer;
    text-align: center;
}

.team-circle-icon-tooltip-container{
    font-size: 10px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 200px;
    letter-spacing: 0.5px;
    word-break: break-word;
}


.team-circle-icon-wrapper .icon{
    margin: 0;
}


.team-circle-icon-wrapper:hover{
    background-color: #ececec;
}


/* mini | tiny | small | large | big | huge | massive */

.team-circle-icon-wrapper.mini{
    font-size: 9px;
    height: 21px;
    width: 21px;
    line-height: 21px;
}

.team-circle-icon-wrapper.tiny{
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}


.team-circle-icon-wrapper.small{
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}


.team-circle-icon-wrapper.large{
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}


.team-circle-icon-wrapper.big{
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}


.team-circle-icon-wrapper.huge{
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}


.team-circle-icon-wrapper.massive{
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

.team-circle-icon-image-container{
    width: 30px;
    height: 30px;
    border-radius: 32px;
}