/**
17th Sept 2018
Robins Gupta
**/


/* ------------------------------------------ HEADER ------------------------------------------- */
.task-detail-heading-container{
  height: 35.5px;
  line-height: 35.5px;
  border-bottom: solid 1px #eeeeee;
}


.task-detail-header-padding-conatiner{
  padding-left:17px;
  padding-right: 0;
}

.task-detail-heading-status-dropdown{
  float: left;
  width: 140.6px;
  font-size: 11px !important;
  font-weight: bold !important;
  color: #75818d !important;
  text-transform: uppercase;
}


.task-detail-heading-status-dropdown .default{
  color: #75818d !important;
}

.task-detail-header-attachment-container{
  float: left;
  /* width: 93.2px; */
  font-size: 11px;
  color: #707070;
  cursor: pointer;
  text-align: left;
}

.task-detail-header-attachment-container .label{
  background-color: #ffffff;
  cursor: pointer;
  font-size: 11px;
  color: #707070;
}

.task-detail-header-move-container{
  float: left;
  /* width: 65px; */
  font-size: 11px;
  color: #707070;
  cursor: pointer;
  text-align: left;
}

.task-detail-header-move-container .label{
  background-color: #ffffff;
  cursor: pointer;
  font-size: 11px;
  color: #707070;
}


.task-detail-header-right-items{
  float: right;
  font-size: 11px;
  color: #707070;
}

.task-detail-header-icon{
  float: left;
  cursor: pointer;
  text-align: right;
  font-size: 11px !important;
  padding: .5833em .833em;
  padding-top: 0;
  padding-bottom: 0;
}

.task-detail-header-add-subtask-button-container{

}


.task-detail-header-add-archive-button-container{

}

.task-detail-header-add-share-button-container{

}

.task-detail-header-add-close-button-container{
  padding-right: 13px;
  font-size: 12px !important;
}




/* -------------------------------------------- END HEADER ---------------------------------------- */


/* Common */
.task-detail-container{
  padding-left: 17px;
  padding-right: 13px;
  padding-top: 10.5px;
}

.task-detail-custom-checkbox{
  background-color: #f8f7f8;
  color: #4d4e5c;
  border-color: #4d4e5c;
}

/* End Common */


/* Task Title */

.task-detail-task-title-container{
  float: left;
}

.task-detail-task-title-completed-container{
  width: 25px;
  margin-top: 7px;
  margin-right: 11px;
  float: left;
}

.task-detail-task-title-input{

}

/* END Task Title  */



/* Assign Task Box */
.task-detail-assign-task-container{
  float: left;
}

.task-detail-assign-sidebar-icon{
  float: left;
}

.task-detail-custom-checkbox{

}

.task-detail-assign-sidebar-body{
  font-size: 11px;
  font-weight: 500;
  color: #4d4f5c;
}


.task-detail-assign-sidebar-body{
  float: left;
}

/* End Assign Task Box */
